/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap'); */
@import '../css/components/header.css';
@import '../css/components/footer.css';

@font-face {
  font-family: 'Playwrite';
  src: url('../fonts/Playwrite_AU_SA/static/PlaywriteAUSA-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Playwrite';
  src: url('../fonts/Playwrite_AU_SA/static/PlaywriteAUSA-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Playwrite';
  src: url('../fonts/Playwrite_AU_SA/static/PlaywriteAUSA-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Playwrite';
  src: url('../fonts/Playwrite_AU_SA/static/PlaywriteAUSA-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: Playwrite, cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  min-height: calc(100vh - 9rem);
}
