.main-content {
  padding: 2rem;
}
.main-title {
}

.task-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.task-content > .column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.task-content .title {
  border-bottom: 0.1rem solid #ccc;
}
.task-content .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
